<!DOCTYPE html>
<html lang="en">

<style>

    .fondo {
  background-color: #efbc1c;
  
}

    .fondo2 {
  background-color: #f2921a;
  
}

.fondo3 {
  background-color: #f1eee8;
  
}

img {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
}


.img2 {
    max-width: 70%;
    height: auto; /* Mantiene la relación de aspecto */
}

/* Estilos específicos para el logo */
.logo {
    max-width: 200px; /* Ajusta este valor según tus necesidades */
    max-height: 200px; /* Ajusta este valor según tus necesidades */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.text{
    color: #efbc1c;
}




</style>


<head>
    <title>Serviautos Jas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    


    <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-light shadow fondo">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="/">
                <img src="/img/logo.jpg" alt="">
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cliente/quienessomos">Quienes Somos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cliente/servicios">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cliente/contactanos">Contactanos</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    <!--
                    <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                        <div class="input-group">
                            <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                            <div class="input-group-text">
                                <i class="fa fa-fw fa-search"></i>
                            </div>
                        </div>
                    </div>
                    
                    <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                        <i class="fa fa-fw fa-search text-dark mr-2"></i>
                    </a>
                    -->
                   
                    <a class="nav-icon position-relative text-decoration-none" href="/admin/login">
                        <i class="fa fa-fw fa-user text-dark mr-3"></i>
                        <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                    </a>
                </div>
            </div>

        </div>
    </nav>
    <!-- Close Header -->

    <!-- Modal -->
    <div class="modal fade bg-white " id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>



    
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/carr1.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">

                            <div class="text-align-left align-self-center">
                                
                                <h3 class="h2">Recepción y Sala de Espera</h3>
                                <p>
                                    Espacio acogedor con sillas y barra de atención, ofreciendo productos automotrices y promociones.
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/carr2.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                
                                <h3 class="h2">Área de Servicio</h3>
                                <p>
                                    Interior amplio y organizado del taller, con instalaciones para alineación y otros trabajos automotrices.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="/img/carr3.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                
                                <h3 class="h2">Fachada del Taller Automotriz </h3>
                                <p>
                                    Vista exterior de "Serviautos JAS", destacando sus múltiples servicios y promociones.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->

<!--
     Start Categories of The Month 
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                    deserunt mollit anim id est laborum.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_01.jpg" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">Watches</h5>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_02.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Shoes</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="/img/category_img_03.jpg" class="rounded-circle img-fluid border"></a>
                <h2 class="h5 text-center mt-3 mb-3">Accessories</h2>
                <p class="text-center"><a class="btn btn-success">Go Shop</a></p>
            </div>
        </div>
    </section>
     End Categories of The Month 
-->

    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">¿POR QUE NOSOTROS?</h1>
                    <br>
                    <p>
                        Serviautos JAS es tu taller mecánico de confianza. Con nuestra plataforma online, tendrás toda la información que necesitas al alcance de un clic.
                         Descubre nuestros servicios, conoce a nuestro equipo y lee las opiniones de otros clientes. ¡Agenda tu cita ahora mismo y olvídate de las esperas!
                    </p>
                    <br>
                    <p>"Nosotros somos una empresa que se ubica en Amatitlán. Ofreciendo diferentes tipos de servicios mecánicos, 
                        asimismo Serviautos Jas trabaja con valores para un mejor servicio en el área de trabajo."</p>
                    <br>
                    <h1>Seria un gusto poder servirles</h1>
                </div>
            </div>
            <br><br>
            <div class="row">


                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <br>
                        <a href="shop-single.html">
                            <center><img src="/img/taller.png" class="card-img-top img2" alt="..."></center>
                        </a>
                        <br>
                        <div class="card-body">
                            <center><h2>Nuestos servicios brindados te darán una experiencia única</h2></center>
                            <br>

                            <center>
                            <p class="card-text">
                                En nuestro taller, te invitamos a ser parte del proceso. 
                                Puedes ver de cerca cómo cuidamos de tu auto y participar activamente en la toma de decisiones sobre las reparaciones.
                            </p>
                        </center>
                            
                        </div>
                    </div>
                </div>


                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <br>
                        <a href="shop-single.html">
                            <center><img src="/img/reloj.png" class="card-img-top img2" alt="..."></center>
                        </a>
                        <br>
                        <div class="card-body">
                            
                            <center><h2>Sacarás el máximo provecho de cada minuto</h2></center>
                            <br>
                            <center><p class="card-text">
                                Cada cliente es único, y por eso te ofrecemos un servicio totalmente personalizado. 
                                Agenda tu cita y disfruta de una atención detallada que se enfoca en satisfacer tus necesidades específicas. 
                                ¡La calidad y la eficiencia van de la mano!
                            </p>
                        </center>
                            
                        </div>
                    </div>
                </div>



                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <br>
                        <a href="shop-single.html">
                            <center><img src="/img/servicioCliente.png" class="card-img-top img2" alt="..."></center>
                        </a>
                        <br>
                        <div class="card-body">
                            
                            <center><h2>Servicio al cliente personalizado y garantizado.</h2></center>
                            <br>
                            <center><p class="card-text">
                                Te ofrecemos una atención personalizada para que te sientas seguro y confiado. ¡Resuelve todas tus dudas con nosotros!
                            </p>
                        </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Featured Product -->


    <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light ">Serviautos Jas</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            5 avenida Lote 9 zona 0, Santa Delfina, Amatitlán, Cdad. de Guatemala.
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">6672-3623</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">serviautosjas@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light">Servicios</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/cliente/servicios">Alineación 3D</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Balanceo Electronico</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicio de lubricación</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicio de frenos</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Mecanica general</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Carga de batería</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Venta de batería</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Scanner</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Desmontaje de llantas</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light">Más información</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/">Inicio</a></li>
                        <li><a class="text-decoration-none" href="/cliente/quienessomos">Quienes somos</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicios</a></li>
                        <li><a class="text-decoration-none" href="/cliente/contactanos">Contactanos</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">

                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=100078674296685&mibextid=LQQJ4d"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>

                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/serviredes_jas?igsh=bnAxcmQ1Mzg2emg3"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
        
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/serviautos-jas-969322193"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2024 Serviautos Jas 
                            | Designed by Francessco Rivera 
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <script>
        // Verifica si el redireccionamiento fue por el envío de un mensaje
        if (window.location.href.includes("mensajeEnviado=true")) {
            Swal.fire({
                title: '¡Éxito!',
                text: 'El mensaje se ha enviado correctamente.',
                icon: 'success',
                confirmButtonText: 'Aceptar'
            });
        }

         // Verifica si el redireccionamiento fue por un error al enviar el mensaje
  if (window.location.href.includes("mensajeEnviado=false")) {
      Swal.fire({
          title: 'Error',
          text: 'Hubo un problema al enviar el mensaje. Por favor, inténtalo de nuevo más tarde.',
          icon: 'error',
          confirmButtonText: 'Aceptar'
      });
  }

      </script>

    <!-- End Script -->
</body>

</html>