<!DOCTYPE html>
<html lang="en">

<style>

    .fondo {
  background-color: #efbc1c;
  
}

    .fondo2 {
  background-color: #f2921a;
  
}

.fondo3 {
  background-color: #f1eee8;
  
}

img {
    max-width: 100%;
    height: auto; /* Mantiene la relación de aspecto */
}


.img2 {
    max-width: 70%;
    height: auto; /* Mantiene la relación de aspecto */
}

/* Estilos específicos para el logo */
.logo {
    max-width: 200px; /* Ajusta este valor según tus necesidades */
    max-height: 200px; /* Ajusta este valor según tus necesidades */
    width: auto; /* Permite que el ancho se ajuste automáticamente */
    height: auto; /* Permite que la altura se ajuste automáticamente */
}

.text{
    color: #efbc1c;
}

.fondo4{
    background-color: #1d242d;
}




</style>

<head>
    <title>Contacto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.jpg">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/templatemo.css">
    <link rel="stylesheet" href="/css/custom.css">

    <!-- Load fonts style after rendering the layout styles -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="/css/fontawesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css">

</head>

<body>
   
    <!-- Header -->
 <nav class="navbar navbar-expand-lg navbar-light shadow fondo">
    <div class="container d-flex justify-content-between align-items-center">

        <a class="navbar-brand text-success logo h1 align-self-center" href="/">
            <img src="/img/logo.jpg" alt="">
        </a>

        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
            <div class="flex-fill">
                <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cliente/quienessomos">Quienes Somos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cliente/servicios">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cliente/contactanos">Contactanos</a>
                    </li>
                </ul>
            </div>
            <div class="navbar align-self-center d-flex">
                <!--
                <div class="d-lg-none flex-sm-fill mt-3 mb-4 col-7 col-sm-auto pr-3">
                    <div class="input-group">
                        <input type="text" class="form-control" id="inputMobileSearch" placeholder="Search ...">
                        <div class="input-group-text">
                            <i class="fa fa-fw fa-search"></i>
                        </div>
                    </div>
                </div>
                
                <a class="nav-icon d-none d-lg-inline" href="#" data-bs-toggle="modal" data-bs-target="#templatemo_search">
                    <i class="fa fa-fw fa-search text-dark mr-2"></i>
                </a>
                -->
               
                <a class="nav-icon position-relative text-decoration-none" href="../admin/login">
                    <i class="fa fa-fw fa-user text-dark mr-3"></i>
                    <span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light text-dark"></span>
                </a>
            </div>
        </div>

    </div>
</nav>
<!-- Close Header -->


    <!-- Modal -->
    <div class="modal fade bg-white" id="templatemo_search" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="w-100 pt-1 mb-5 text-right">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="" method="get" class="modal-content modal-body border-0 p-0">
                <div class="input-group mb-2">
                    <input type="text" class="form-control" id="inputModalSearch" name="q" placeholder="Search ...">
                    <button type="submit" class="input-group-text bg-success text-light">
                        <i class="fa fa-fw fa-search text-white"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>


    <!-- Start Content Page -->
    <div class="container-fluid bg-light py-5">
        <div class="col-md-6 m-auto text-center">
            <h1 >Contactanos</h1>
            <p>
                <b>Dirección:</b> 5 avenida Lote 9 zona 0, Santa Delfina, Amatitlán, Cdad. de Guatemala.
            </p>
            <p>
                <b>Teléfono:</b> 6672-3623
            </p>
            <p>
                <b>WhatsApp:</b> <a href="https://wa.me/50251352695">5135-2695</a>
            </p>
        </div>
    </div>

    <!-- Start Map -->
<div style="width: 100%; height: 300px;">
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3862.947283007819!2d-90.61976322585255!3d14.487715779832376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8589096146be807f%3A0x1146b0635420d80f!2sServiautos%20Jas!5e0!3m2!1ses!2sgt!4v1724650674901!5m2!1ses!2sgt" 
        width="100%" 
        height="400" 
        frameborder="0" 
        style="border:0;" 
        allowfullscreen="" 
        aria-hidden="false" 
        tabindex="0">
    </iframe>
</div>
<!-- End Map -->

<br><br><br>
    <!-- Start Contact -->
    <div class="container py-5">
        <div class="row py-5">

            <form class="col-md-9 m-auto" action="/guardarMensaje" method="POST">
                <div class="row">

                    <div class="form-group col-md-6 mb-3">
                        <label for="inputname">Nombre</label>
                        <input type="text" class="form-control mt-1" id="nombre" name="nombre" placeholder="Nombre..." required>
                    </div>

                    <div class="form-group col-md-6 mb-3">
                        <label for="inputemail">Teléfono</label>
                        <input type="tel" class="form-control mt-1" id="telefono" name="telefono" placeholder="Teléfono..." required>
                    </div>

                </div>

                <div class="mb-3">
                    <label for="inputmessage">Mensaje</label>
                    <textarea class="form-control mt-1" id="mensaje" name="mensaje" placeholder="Escribe tu duda o pregunta y con gusto te atenderemos lo más rapidpo posible..." required rows="8"></textarea>
                </div>

                <div class="row">
                    <div class="col text-end mt-2">
                        <button type="submit" class="btn btn-success btn-lg px-3">Enviar</button>
                    </div>

                </div>
            </form>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      document.getElementById('contactForm').addEventListener('submit', function(event) {
          event.preventDefault();  // Evita el envío automático del formulario
    
          // Crear un objeto FormData con los datos del formulario
          const formData = new FormData(this);
    
          // Enviar los datos usando Fetch API
          fetch('/guardarMensaje', {
              method: 'POST',
              body: formData
          })
          .then(response => response.json())
          .then(data => {
              if (data.success) {
                  // Mostrar la ventana emergente de éxito
                  Swal.fire({
                      title: '¡Éxito!',
                      text: data.message,
                      icon: 'success',
                      confirmButtonText: 'Aceptar'
                  }).then(() => {
                      // Redirigir al usuario después de cerrar la ventana emergente
                      window.location.href = '/';
                  });
              } else {
                  // Manejar el caso de error (opcional)
                  Swal.fire({
                      title: 'Error',
                      text: data.message,
                      icon: 'error',
                      confirmButtonText: 'Aceptar'
                  });
              }
          })
          .catch(error => {
              console.error('Error:', error);
              Swal.fire({
                  title: 'Error',
                  text: 'Ocurrió un problema al enviar el mensaje.',
                  icon: 'error',
                  confirmButtonText: 'Aceptar'
              });
          });
      });
    </script>









    <!-- End Contact -->

     <!-- Start Footer -->
    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light ">Serviautos Jas</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            5 avenida Lote 9 zona 0, Santa Delfina, Amatitlán, Cdad. de Guatemala.
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="tel:010-020-0340">6672-3623</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">serviautosjas@gmail.com</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light">Servicios</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/cliente/servicios">Alineación 3D</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Balanceo Electronico</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicio de lubricación</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicio de frenos</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Mecanica general</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Carga de batería</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Venta de batería</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Scanner</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Desmontaje de llantas</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text border-bottom pb-3 border-light">Más información</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="/">Inicio</a></li>
                        <li><a class="text-decoration-none" href="/cliente/quienessomos">Quienes somos</a></li>
                        <li><a class="text-decoration-none" href="/cliente/servicios">Servicios</a></li>
                        <li><a class="text-decoration-none" href="/cliente/contactanos">Contactanos</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">

                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.facebook.com/profile.php?id=100078674296685&mibextid=LQQJ4d"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>

                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/serviredes_jas?igsh=bnAxcmQ1Mzg2emg3"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
        
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/in/serviautos-jas-969322193"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2024 Serviautos Jas 
                            | Designed by Francessco Rivera 
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer -->

    <!-- Start Script -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <script src="/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/templatemo.js"></script>
    <script src="/js/custom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>

    <!-- End Script -->
    
</body>

</html>